@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rochester&family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rochester&family=Rowdies:wght@300;400;700&display=swap');


html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: relative;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 5px 10px;
}

.nav-links a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 15px 20px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Contenedor principal del login */
.login-container {
  position: absolute;
  color: white;
  right: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  border-radius: 25px;
  width: 170px;
  /* Ancho reducido */
}

/* Estilo cuando el contenedor está expandido */
.login-container.expanded {
  background: transparent;
  border-color: white;
  width: 200px;
  /* Ancho fijo cuando está expandido */
}

/* Botón de inicio de sesión */
.login-button {
  background-color: transparent;
  color: white;
  padding: 8px 12px;
  /* Padding reducido */
  border: 2px solid white;
  cursor: pointer;
  font-size: 14px;
  /* Tamaño de fuente reducido */
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s, border-color 0.3s;
  white-space: nowrap;
  width: 100%;
}

/* Estilo cuando el botón está activo */
.login-button.active {
  background-color: transparent;
  border-color: transparent;
}

/* Icono de usuario */
.fauser {
  margin-left: 5px;
  font-size: 16px;
  /* Tamaño del icono reducido */
}

/* Icono de chevron */
.chevron {
  margin-left: 5px;
  font-size: 12px;
  /* Tamaño del icono reducido */
}

/* Texto del botón de login */
.login-text {
  font-size: 12px;
  /* Tamaño de fuente reducido */
}

/* Contenedor del formulario de login */
.login-form-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  width: 100%;
}

/* Expande el contenedor del formulario cuando está activo */
.login-container.expanded .login-form-container {
  max-height: 200px;
  /* Ajusta este valor según sea necesario */
}

/* Formulario de login */
.login-form {
  padding: 12px;
  /* Padding reducido */
  width: 100%;
  box-sizing: border-box;
}

/* Grupo de inputs */
.login-form .input-group {
  position: relative;
  margin-bottom: 8px;
  /* Margen reducido */
}

/* Iconos dentro de los inputs */
.login-form .input-group svg {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 14px;
  /* Tamaño del icono reducido */
}

/* Inputs del formulario */
.login-form input {
  width: 100%;
  padding: 6px 6px 6px 28px;
  /* Padding ajustado */
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: 15px;
  font-size: 12px;
  box-sizing: border-box;
}

/* Placeholder de los inputs */
.login-form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

/* Botón de envío del formulario */
.login-form button[type="submit"] {
  width: 100%;
  padding: 6px;
  /* Padding reducido */
  margin-top: 8px;
  /* Margen superior reducido */
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 15px;
  font-size: 12px;
  transition: background-color 0.3s;
}

/* Efecto hover del botón de envío */
.login-form button[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-icon {
  display: none;
  color: #c7c3bb;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
  }

  .sidebar {
    display: block;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    transition: left 0.3s ease-in-out;
    z-index: 999;
    overflow-y: auto;
  }

  .sidebar.open {
    left: 0;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 50px;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  .login-container {
    top: 10px;
    right: 10px;
    z-index: 1000;
  }
}

/* Estilos para la sección principal de Unitutor */
.Unitutor {
  background-image: url(img/Fondo1.png);
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  /* Estilos para el contenedor principal */
  .Home {
    padding: 30px;

    /* Estilos para el contenedor del contenido, organiza los elementos horizontalmente */
    .content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px;

      /* Estilos para el texto "UNITUTOR" */
      h2 {
        color: white;
        margin: 2px;
        font-size: 40px;
        margin-right: 10px;
        font-weight: 500;
        font-family: "Roboto Condensed", sans-serif;
        margin: 20px;
      }
    }

    /* Estilos para la línea vertical separadora */
    .vertical-line {
      width: 2px;
      height: 390px;
      background-color: white;
      margin: 0 40px;
    }

    /* Estilos para el logo de Unitutor */
    .UnitutorLogo {
      width: 130px;
      max-width: 500px;
      margin-right: 10px;
    }

    /* Contenedor para el texto principal y el botón, los organiza verticalmente */
    .text-button-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    /* Estilos para el texto principal */
      h1{
      color: white;
      font-size: 45px;
      margin: 10px;
      padding-left: 0;
      font-weight: 500;
      font-family: "Roboto Condensed", sans-serif;
      line-height: 1.2;
      /* Ajusta el espaciado entre líneas según sea necesario */

      @media (max-width: 769px) {
        font-size: 70px;
        text-align: center;
        color: white;
      }

    }

      /* Estilos para el texto destacado */
      .fuente {
        font-family: "Rochester", cursive;
        font-weight: 300;
        font-size: 55px;
        /* Negrita para el texto destacado */
        color: white;
        /* Color dorado para el texto destacado, ajusta según tus preferencias */
        font-style: normal;
        /* Estilo itálico para mayor contraste */
        line-height: 1.2;

        @media (max-width: 768px) {
          font-size: 40px;
          margin-left: 50px;
          text-align: center;
        }
      }
      
    

    .explore-button {
      width: 160px;
      height: 35px;
      background: white;
      border: none;
      border-radius: 40px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      font-size: 16px;
      color: black;
      font-weight: 700;
      transition: all ease 0.5s;
      margin: 15px;
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: relative;
      padding: 10px 20px;

      @media (max-width: 768px) {
        margin: 15px auto;
      }
    

      .button-text {
        transition: transform 0.3s ease;
      }

      .icon-wrapper {
        position: absolute;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        overflow: hidden;
      }

      .icon {
        position: absolute;
        transition: all 0.3s ease;
        color: black;
        opacity: 0;
        transform: translateX(100%);
      }

      .right-arrow.show {
        opacity: 1;
        transform: translateX(0);
      }

      .down-arrow.show {
        opacity: 1;
        transform: translateY(0);
      }

      &.hovered {
        .button-text {
          transform: translateX(-10px);
        }
      }
    }
  }


/* Estilos generales para los iconos */
.icon {
  position: absolute;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Posición inicial de la flecha derecha */
.right-arrow {
  transform: translateX(100%);
  opacity: 0;
}

/* Posición inicial de la flecha hacia abajo */
.down-arrow {
  transform: translateY(-100%);
  opacity: 0;
}

/* Estilos para dispositivos móviles y pantallas pequeñas */
@media (max-width: 768px) {
  /* Cambia la disposición a vertical para pantallas pequeñas */
  .content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  /* Ajusta el margen del logo para pantallas pequeñas */
  .UnitutorLogo {
    margin-bottom: 20px;
  }

  /* Cambia la línea vertical a horizontal en pantallas pequeñas */
  .vertical-line {
    width: 100%;
    height: 2px;
    margin: 20px 0;
  }


  /* Centra el texto y el botón en pantallas pequeñas */
  .text-button-wrapper {
    align-items: center;
    text-align: center;
    width: 100%; // Asegura que el wrapper ocupe todo el ancho disponible
  }


  .explore-button {
    margin: 20px auto 0;
    /* Centra el botón horizontalmente y añade margen superior */
    display: flex; // Cambiamos a flex para mantener la estructura interna del botón
    justify-content: center; // Centra el contenido del botón horizontalmente
    align-items: center; // Centra el contenido del botón verticalmente
    width: 160px; // Mantenemos el ancho original del botón
  }


  }
}

/*# ASIGNATURAS */
/* Sección de asignaturas */
.asignaturas {
  margin-top: -20px;
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding: 20px;
  overflow-x: hidden;

  @media (max-width: 768px) {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      padding: 50px;
    }

    .left-section {
      flex: 1;
      padding-right: 0;
      margin-top: 20px;

      @media (max-width: 768px) {
        text-align: center;
        padding-right: 0;
        margin-top: 20px;
      }

      @media (min-width: 769px) {
        padding-right: 40px;
        margin-top: 30px;
      }

      h1 {
        font-weight: 400;
        font-family: "Roboto", sans-serif;
        font-size: 60px;
        color: #0E0F02;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

        @media (max-width: 768px) {
          font-size: 40px;
        }
      }
    
      .titulo2 {
        margin-left: 50px;
        font-family: "Rowdies", sans-serif;
        font-weight: 500;
        font-style: normal;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

        @media (max-width: 768px) {
          margin-left: 0;
        }
      }
    }

    .right-section {
      flex: 1;
      background-color: white;
      border: 1px solid white;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), inset 0 0 5px rgba(0, 0, 0, 0.2);
      margin-top: 20px;

      @media (max-width: 768px) {
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        border-radius: 0;
        box-shadow: none;
      }

      @media (min-width: 768px) {
        height: 510px;
        padding: 40px;
        margin-top: 0;
      }
    }

    h2 {
      font-size: 22px;
      margin-top: 0;
      font-family: "Roboto Condensed", sans-serif;

      @media (min-width: 768px) {
        font-size: 26px;
      }
    }

    .texto {
      font-size: 25px;
      line-height: 1.0;
      color: #555;
      margin-right: 60px;

      @media (min-width: 769px) {
        font-size: 29px;
        text-align: justify;
      }

      @media (max-width: 768px) {
        margin-right: 0;
        text-align: center;
      }
    }

    .explorar-button {
      width: 140px;
      height: 35px;
      background: #0E0F02;
      border: none;
      border-radius: 40px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      font-size: 14px;
      color: white;
      font-weight: 700;
      transition: all ease 0.5s;
      margin: 135px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: relative;
      padding: 10px 20px;

      @media (max-width: 768px) {
        margin: 15px auto;
      }

      .button-text {
        transition: transform 0.3s ease;
      }

      .icon-wrapper {
        position: absolute;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        overflow: hidden;
      }

      .icon {
        position: absolute;
        transition: all 0.3s ease;
        color: white;
        opacity: 0;
        transform: translateX(100%);
      }

      .right-arrow2.show {
        opacity: 1;
        transform: translateX(0);
        color: white;
      }

      .down-arrow2.show {
        opacity: 1;
        transform: translateY(0);
        color: white;
      }

      &.hovered {
        .button-text {
          transform: translateX(-10px);
        }
      }
    }

    .popular-subjects {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
      margin-top: -10px;

      @media (min-width: 480px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .subject-card {
      text-align: center;
      position: relative;
      overflow: hidden;
      border-radius: 9px;
      display: flex;
      flex-direction: column;
      height: 100%;
      margin-top: 10px;

      @media (max-width: 768px) {
        width: 90%;
        max-width: 300px;
      }

      img {
        width: 100%;
        border-radius: 9px;
        margin-bottom: 5px;
        transition: transform 0.3s ease;
        flex-grow: 1;
        object-fit: cover;
      }

      .subject {
        margin: 0;
        font-size: 14px;
        color: black;
        text-align: center;
        font-weight: 400;
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Roboto", sans-serif;

        @media (max-width: 768px) {
          font-size: 19px;
        }
      }

      .info-button {
        display: none;
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #0E0F02;
        color: white;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        transition: all 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        @media (max-width: 767px) {
          display: block;
          width: 80%;
          margin: 10px auto;
        }

        &:active {
          background-color: #2a2a2a;
          transform: translateY(1px);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
      }

      .subject-info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 25px);
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
        pointer-events: none;
        font-family: "Roboto", sans-serif;
        border-radius: 9px;
        text-transform: uppercase;
        transform: translateY(-10px);

        h3 {
          font-size: 10px;
          font-style: italic;
          font-weight: 500;
          margin: 0;
          padding: 5px;
        }

        .semester {
          font-size: 10px;
          margin-bottom: 7px;
          font-style: italic;
        }

        .description {
          font-size: 8px;
          padding: 0 10px;
          font-style: italic;
        }

        @media (max-width: 767px) {
          position: static;
          opacity: 0;
          height: 0;
          overflow: hidden;
          transition: all 0.5s ease;
          transform: translateY(-20px);
          background-color: rgba(14, 15, 2, 0.95);
          border-radius: 9px;
          padding: 0;
          margin-top: 10px;

          &.show {
            opacity: 1;
            height: auto;
            padding: 20px;
            transform: translateY(0);
          }

          h3 {
            font-size: 22px;
            margin-bottom: 10px;
          }

          .semester {
            font-size: 18px;
            margin-bottom: 15px;
          }

          .description {
            font-size: 16px;
            padding: 0 15px;
            line-height: 1.4;
          }
        }
      }

      // Estilos para pantallas grandes (escritorio)
      @media (min-width: 768px) {
        &:hover {
          .subject-info {
            opacity: 1;
            transform: translateY(0);
          }

          img {
            transform: scale(1.05);
          }
        }
      }

      // Estilos específicos para dispositivos móviles
      @media (max-width: 767px) {
        .info-button {
          display: block;
        }

        // Eliminamos todos los efectos de hover para móviles
        &:hover, &:active, &:focus {
          .subject-info {
            opacity: 0;
            transform: translateY(-20px);
          }

          img {
            transform: none;
          }
        }

        // Aseguramos que el cuadro de información solo se muestre cuando tenga la clase .show
        .subject-info {
          &:not(.show) {
            opacity: 0;
            height: 0;
            padding: 0;
          }
        }
      }
    }
  }


  .UnitutorLogonegro {
    width: 40px;
    height: auto;
    float: right;
    margin-right: 20px;
    margin-top: -120px;
    transition: all 0.3s ease;

    @media (max-width: 767px) {
      width: 0px;
      margin-top: 30px;
      margin-right: 10px;
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}



/* Sección de Profesores */
.PROFESORES {
  background-image: url(img/Fondo2.png);
  background-size: cover;
  background-position: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0px 60px;
  padding: 20px 80px;
}

/* Título */
.PROFESORES h1 {
  font-size: 36px;
  text-align: left;
  margin-bottom: 30px;
  font-family: "Roboto Condensed", sans-serif;
}

/* Contenedor de Profesores */
.profesores-contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

/* Estilo para cada profesor */
.prof h4 {
  text-align: left;
  font-size: 30px;
  margin-bottom: 5px;
  margin-top: 0px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

.prof p {
  font-size: 14px;
  margin-top: 0;
  color: white;
}

/* Imagen de cada profesor */
.imagen {
  background-size: cover;
  background-position: center;
  width: 230px;
  /* Aumenta el tamaño de las imágenes */
  height: 230px;
  margin: 0 auto;
  border-radius: 30px;
  margin: 0px;
  transition: transform 0.3s ease-in-out;
  /* Transición fluida con ease-in-out */
}

.prof:hover {
  transform: scale(1.2);
}

.prof {
  transition: transform 0.3s ease-in-out;
  /* Aplica transición tanto en hover como al quitar el hover */
}

/* Clases específicas para las imágenes de los profesores */
.prof1 {
  background-image: url(img/Photo1.png);
}

.prof2 {
  background-image: url(img/Photo1.png);
}

.prof3 {
  background-image: url(img/Photo3.png);
}

.prof4 {
  background-image: url(img/Photo2.png);
}

/* Sección de información adicional */
.profesores2 {
  text-align: left;
  margin-bottom: 30px;
}

.profesores2 h1 {
  font-size: 36px;
  margin-bottom: 10px;
  text-align: left;
}

.profesores2 article {
  font-size: 19px;
  max-width: 800px;
  line-height: 1.5;
  font-family: "Roboto Flex", sans-serif;
}

.profesores2 p {
  font-size: 20px;
  max-width: 800px;
  line-height: 1.5;
  color: white;
}

/* Contenedor de los cuadros de información */
.cuadros-contenedor {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 30px;
  /* Espacio entre los cuadros */
}

/* Cuadro de información */
.cuadro {
  padding: 20px;
  border-radius: 30px;
  width: 20%;
  height: 90px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color 0.5s ease;
  
}

.cuadro:hover {
  background-color: white;
  color: black;
}

.cuadro h5 {
  font-size: 17px;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.cuadro p {
  font-size: 14px;
  line-height: 1.0;
  color: white;
  margin-top: 11px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.cuadro:hover p {
  color: black;
  font-size: 14px;
}

.piedepagina {
  background-color: #393736;
  /* Cambia el color de fondo si es necesario */
  padding: 20px 0;
  /* Espaciado arriba y abajo */
  
}


.foot {
  display: flex;
  /* Usar flexbox para centrar y espaciar */
  justify-content: center;
  /* Centrar horizontalmente */
  gap: 9%;
  /* Espaciado entre enlaces */
}

.foot a {
  color: white;
  /* Cambiar color del texto a blanco */
  text-decoration: none;
  /* Quitar subrayado */
  padding: 10px;
  /* Espaciado interno para cada enlace */
  font-size: 16px;
  /* Ajustar tamaño de fuente si es necesario */
  font-family: "Roboto Condensed", sans-serif;
}

.foot a:hover {
  color: lightgray;
  /* Color al pasar el ratón */
}

footer {
  background-color: #0e0f02;
  /* Cambia el color de fondo si es necesario */
  padding: 20px 0;
  /* Espaciado arriba y abajo */
  text-align: center;
  /* Centrar el texto horizontalmente */
  display: flex;
  justify-content: center;
  /* Centra los elementos horizontalmente */
  align-items: center;
  /* Centra los elementos verticalmente */
}

footer p {
  color: white;
  /* Cambiar color del texto a blanco */
  margin: 0;
  /* Eliminar margen para evitar espacios innecesarios */
  font-size: 16px;
  /* Ajustar tamaño de fuente si es necesario */
  font-family: "Roboto Condensed", sans-serif;
}

.imgfooter {
  background-image: url(img/Group.png);
  width: 30px;
  /* Ajusta el tamaño según sea necesario */
  height: 30px;
  /* Ajusta el tamaño según sea necesario */
  background-size: cover;
  /* Esto asegurará que la imagen cubra el div */
  background-position: center;
  /* Centra la imagen dentro del div */
  margin-right: 10px;
  /* Espacio entre la imagen y el texto */
}

.footer-vertical-line {
  width: 2px;
  height: 50px;
  /* Ajusta la altura según necesites */
  background-color: white;
  margin: 0 20px;
}

.iconos-footer-container {
  display: flex;
  justify-content: center;
  /* Centra los íconos horizontalmente */
  align-items: center;
  /* Centra los íconos verticalmente */
  height: 100vh;
  /* Hace que el contenedor ocupe toda la altura de la pantalla */
}

.iconos-footer {
  display: flex;
  gap: 15px;
  /* Añade espacio entre los iconos */
}

.iconos-footer svg {
  font-size: 20px;
  /* Ajusta el tamaño de los iconos */
  color: white;
  /* Aplica el mismo color a todos los iconos */
  transition: transform 0.3s ease;
}

.iconos-footer svg:hover {
  transform: scale(1.2);
  /* Hace que los íconos aumenten de tamaño al pasar el mouse por encima */

  /* Cambia el color al hacer hover */
}

/* Media Queries para hacer la página responsive */
@media (max-width: 1200px) {
  .Unitutor .Home .content-wrapper {
    margin-left: 0;
    padding: 20px;
  }

  .asignaturas .container {
    flex-direction: column;
    align-items: center;
  }

  .asignaturas .container .left-section,
  .asignaturas .container .right-section {
    width: 100%;
    max-width: 600px;
    margin-top: 40px;
  }

  .PROFESORES {
    margin: 0;
    padding: 20px;
    border-radius: 0;
  }

  .profesores-contenido {
    flex-wrap: wrap;
    justify-content: center;
  }

  .prof {
    margin: 20px;
  }

  .cuadros-contenedor {
    flex-wrap: wrap;
  }

  .cuadro {
    width: calc(50% - 15px);
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .Unitutor .Home .content-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .Unitutor .Home .content-wrapper .vertical-line {
    width: 80%;
    height: 2px;
    margin: 20px 0;
  }

  .Unitutor .Home .content-wrapper h1 {
    font-size: 40px;
  }

  .Unitutor .Home .content-wrapper h2 {
    font-size: 30px;
  }

  .asignaturas .container .left-section h1 {
    font-size: 36px;
  }

  .popular-subjects {
    grid-template-columns: repeat(2, 1fr);
  }

  .PROFESORES h1 {
    font-size: 30px;
  }

  .cuadro {
    width: 100%;
  }

  .cuadro h5 {
    font-size: 20px;
    margin-top: 10px;
  }

  .cuadro p {
    font-size: 18px;
  }

  /* Eliminar estilos hover específicos para móviles */
  .cuadro:hover h5,
  .cuadro:hover p {
    font-size: 18px;
    color: inherit;
  }


  .foot {
    flex-direction: column;
    align-items: center;
  }

  .foot a {
    margin: 5px 0;
  }

  footer {
    flex-direction: column;
  }

  .footer-vertical-line {
    width: 80%;
    height: 2px;
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .Unitutor .Home .content-wrapper h1 {
    font-size: 30px;
  }

  .Unitutor .Home .content-wrapper h2 {
    font-size: 24px;
  }

  .popular-subjects {
    grid-template-columns: 1fr;
  }

  .prof {
    transform: none !important;
  }

  .prof:hover {
    transform: none !important;
  }

  .imagen {
    width: 180px;
    height: 180px;
  }
}

.registropage {
  body {
    background-color: #0e0f02;
  }

  .cuadro-registro {
    width: 100%;
  }

  .UnitutorLog {
    width: 20%;
  }
}

.admin-page {
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;

  .header-content {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 0;
  }

  h3 {
    text-align: center;
    color: #5c2771;
  }

  .logo {
    display: flex;
    align-items: center;
    width: 70%;
    
  }

  .Unitutornegro {
    width: 40px;
  }

  .logo-icon {
    width: 30px;
    height: 30px;
    background-color: #5c2771;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }

  .logo-text {
    font-size: 20px;
    font-weight: 700;
    color: #5c2771;
    margin-left: 10px;
    font-family: "Roboto", sans-serif;
  }

  .unifooter {
    font-family: "Roboto Condensed", sans-serif;
  }

  .search-bar {
    width: 100%;
    border-radius: 0px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .search-bar .MuiOutlinedInput-input {
    padding-left: 40px;
  }

  .buscar {
    width: 250%;
    margin-left: 80px;
  }

  .search-icon,
  .settings-icon {
    color: #888;
    transition: color 0.3s ease;
  }

  .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .search-bar:hover .search-icon,
  .search-bar:hover .settings-icon,
  .search-bar:focus-within .search-icon,
  .search-bar:focus-within .settings-icon {
    color: #000;
  }

  .settings-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .container {
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 20px;
    margin-left: 70px;
    flex-grow: 1;
  }

  .user-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .user-row {
    display: grid;
    grid-template-columns: 1fr;
    width: 65%;
    gap: 15px;
    align-items: center;
  }

  .rol {
    margin-left: 80px;
  }

  .user-row .MuiTextField-root {
    background-color: #f5f5f5;
  }

  .user-row .MuiInputBase-input {
    color: black;
  }

  .user-row .MuiInputBase-root.Mui-disabled {
    background-color: #f5f5f5;
  }

  .user-row .MuiInputBase-root.Mui-disabled .MuiInputBase-input {
    color: black;
    -webkit-text-fill-color: black;
  }

  .action-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-right: -290px;
  }

  .action-button {
    background: none;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 18px;
    color: #000;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    transition: background-color 0.3s, color 0.3s;
  }

  .action-button:hover {
    background-color: #5c2771;
    color: #fff;
  }

  .upload {
    width: 100%;
    border-radius: 20px;
    margin-right: 0;
    background-color: #5c2771;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 80px;
  }

  .page-button,
  .flecha {
    background: none;
    border: 1px solid #5c2771;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
    padding: 10px;
    height: 40px;
  }

  .page-button .flechas,
  .flecha .flechas {
    font-size: 20px;
  }

  .page-button:first-child,
  .flecha:first-child {
    border-radius: 4px 0 0 4px;
  }

  .page-button:last-child,
  .flecha:last-child {
    border-radius: 0 4px 4px 0;
  }

  .page-button:not(:first-child),
  .flecha:not(:first-child) {
    border-left: none;
  }

  .page-button.active,
  .page-button:hover,
  .flecha:hover {
    background-color: #5c2771;
    color: white;
  }

  .menu-toggle {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }

  .sidebar {
    width: 50%;
    max-width: 300px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: fixed;
    top: 0;
    right: -100%;
    overflow-y: auto;
    transition: right 0.3s ease-in-out;
    z-index: 999;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  }

  .sidebar.open {
    right: 0;
  }

  .sidebar-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
    width: 100%;
    padding: 10px 0;
  }

  .sidebar-link:hover {
    color: #5c2771;
  }

  .sidebar-icon {
    margin-right: 12px;
    font-size: 20px;
  }

  footer {
    flex-shrink: 0;
    border-top: 1px solid #e0e0e0;
    background-color: white;
    width: 100%;
    margin-left: 25px;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
  }
  
  .linea-vertical {
    width: 30px;
    height: 2px;
    background-color: black;
    margin: 20px 0;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
  }
  
  .social-icon {
    color: black;
    font-size: 20px;
    transition: transform 0.3s ease;
  }
  
  .social-icon:hover {
    transform: translateY(-5px);
  }

  @media (max-width: 767px) {
    .header-content {
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }
    
    

    .logo-uni {
      width: 75%;
      justify-content: center;
      margin-top: 4%;
    }

    .Unitutornegro {
      width: 50px;
    }

    .logo-text {
      font-size: 18px;
    }

    .search-bar {
      width: 90%;
      margin: 20px auto 10px auto;
    }

    .buscar {
      width: 100%;
      margin-left: 40px;
    }

    .container {
      margin: 20px auto;
      padding: 0 15px;
    }

    .user-list {
      align-items: center;
    }

    .user-row {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    .user-row .MuiTextField-root {
      margin-top: 8px;
      width: 100%;
    }

    .rol {
      margin-left: 0;
      width: 100%;
    }

    .action-buttons {
      margin-right: 0;
      justify-content: center;
      width: 100%;
      margin-top: 10px;
    }

    .pagination {
      margin: 15px 0;
    }

    .sidebar {
      width: 50%;
      max-width: none;
      left: -100%;
      right: auto;
      transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
      opacity: 0;
    }
    
    .sidebar.open {
      left: 0;
      opacity: 1;
    }

    .logo{
      width: 100%;
      margin-bottom: 5px;
    }

    .upload {
      width: 100%;
      font-size: 14px;
      padding: 10px;
    }

    footer {
      margin-left: 0;
    }

    .footer-content {
      padding: 15px;
      text-align: center;
      gap: 10px;
    }

    .menu-toggle{
      margin-top: 10px;
    }

    .unifooter{
      margin-left: 20px;
    }
    

    .linea-vertical {
      width: 100%;
      height: 1px;
      margin: 10px 0;
    }

    .social-icons {
      justify-content: center;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }

  @media (min-width: 768px) {
    .header-content {
      flex-wrap: nowrap;
    }

    .logo {
      width: 70%;
      margin-bottom: 0;
    }

    .Unitutornegro {
      width: 60px;
    }

    .logo-icon {
      width: 40px;
      height: 40px;
      font-size: 24px;
    }

    .logo-text {
      font-size: 24px;
      margin-left: 15px;
    }

    .search-bar {
      width: 55%;
      margin-right: 200px;
      margin-bottom: 0;
    }

    .user-row {
      grid-template-columns: 2fr 1fr auto;
      
    }

    .action-buttons {
      justify-content: flex-end;
    }

    .menu-toggle {
      display: none;
    }

    .sidebar {
      width: 170px;
      top: 0;
      right: 0;
      height: calc(100% - 20px);
      box-shadow: none;
    }
  
    .container {
      margin-right: 220px;
    }
  
    footer {
      margin-right: 220px;
    }

    .footer-content {
      flex-direction: row;
      justify-content: space-between;
    }

    .linea-vertical {
      width: 2px;
      height: 50px;
      margin: 0 40px;
    }
  }
}

.loginformpage {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .form-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
  }
  
  .form-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #2d3748;
  }
  
  .error-message {
    color: #f56565;
    font-size: 14px;
    margin-top: 8px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #cbd5e0;
    border-radius: 4px;
    font-size: 16px;
    &:focus {
      outline: none;
      border-color: #3182ce;
      box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
    }
  }
  
  .forgot-password {
    text-align: right;
    margin-bottom: 20px;
    a {
      font-size: 14px;
      color: #4299e1;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    &:hover {
      background-color: #2d3748;
    }
  }

}
