.tutoriaspage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    

    
  
    // Estilo personalizado para el TextField
    .custom-textfield {
      width: 80%;  // Ajusta el ancho que necesitas
      
      .MuiOutlinedInput-root {
        border: 2px solid white;  // Cambia el borde
        border-radius: 10px;         // Ajusta el borde redondeado
  
        &:hover .MuiOutlinedInput-notchedOutline {
          border-color: rgb(207, 207, 207);    // Borde al pasar el mouse
        }
  
        &.Mui-focused .MuiOutlinedInput-notchedOutline {
          border-color: rgb(207, 207, 207);    // Borde cuando está enfocado
        }
      }
    }
    
  
    header{
        background-color: white;
        padding: 10px 0;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
    
    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
    }
  
    .logo{
        width: 4%;
        margin-top: 0;
    }
  
    .search-bar {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        margin: 0 20px;
    }
    .search-bar input {
        padding: 8px;
        width: 100%;
        max-width: 400px;
        border: 1px solid #5C2771;
        border-radius: 4px;
    
        &::placeholder{
            font-family: 'Onest Variable', sans-serif;
            color: #5C2771;
        }
    }
    .user-menu {
        white-space: nowrap;
        font-family: 'Onest Variable', sans-serif;
    }
    
    .fondo-user{
        width: 50px;
        height: 50px;
        background-color: #5C2771;
        border-radius: 50%;
        margin: 0 10px ;
    }
    
    h1{
        font-family: 'Onest Variable', sans-serif;
        color: #5C2771;
        margin-left: 10px;
        margin-bottom: 10px;
        
    }

    .container{
        margin-left: auto;
    }
  
    .crear-tutoria{
        margin-top: 20px;
        margin-bottom: 50px;
        display: grid;
        justify-content: center;
        align-items: center;
        font-family: 'Onest Variable', sans-serif;
  
        p{
            margin-top: 0px;
            width: 80%;
        }
  
    }
  
    .linea_horizontal{
        width: 80%;
        margin-left: 0;
        margin-top: -20px;
        height: 2px;
        background-color: rgb(206, 203, 198);
    
    }
  
    .asignatura {
      margin-top: 20px;
      margin-bottom: 50px;
      margin-left: auto;
      display: grid;
      justify-content: flex-start;
      font-family: 'Onest Variable', sans-serif;
    
      .custom-select {
        width: 80%; // Ajusta el ancho del select
        
        .MuiOutlinedInput-root {
          fieldset {
            border: 2px solid #5C2771 !important; // Cambia el borde del select
            border-radius: 20px; // Ajusta el borde redondeado
          }
    
          &:hover fieldset {
            border-color: #3a1854 !important; // Borde al pasar el mouse
          }
    
          &.Mui-focused fieldset {
            border-color: #5C2771 !important; // Borde cuando está enfocado
          }
        }
      }
    }
  
    .descripcion{
        margin-left: auto;
        margin-top: 20px;
        margin-bottom: 50px;
        display: grid;
        justify-content: flex-start;
        font-family: 'Onest Variable', sans-serif;
        p{
            margin-top: -20px;
            width: 80%;
        }
    }

    
  
    .virtual {
        margin-left: auto;
        margin-top: 20px;
        margin-bottom: 50px;
        font-family: 'Onest Variable', sans-serif;
    
        .radio-option {
          margin-bottom: 20px;
        }
    
        .MuiFormControlLabel-root {
          align-items: flex-start;
          margin-left: auto;
        }
    
        .MuiRadio-root {
          padding: 0;
          margin-right: 10px;
        }
    
        .radio-content {
          display: flex;
          align-items: flex-start;
        }
    
        .icono_virtual,
        .icono_presencial {
          font-size: 24px;
          margin-right: 10px;
          margin-top: 2px;
        }
    
        .text-content {
          display: flex;
          flex-direction: column;
        }
    
        h4 {
          margin: 0 0 5px 0;
          font-size: 18px;
        }
    
        p {
          margin: 0;
          font-size: 14px;
        }
    
        .Mui-checked {
          & + .MuiFormControlLabel-label {
            color: #000000; // Ajusta este color según tu paleta
          }
        }
      }
  
      .fecha-hora-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 20px;
        margin-bottom: 50px;
        font-family: 'Onest Variable', sans-serif;
      }
    
      .fecha {
        margin-right: 20px;
    
        .MuiDateCalendar-root {
          background-color: white;
          border-radius: 8px;
          padding: 16px;
    
          .MuiPickersDay-root {
            &.Mui-selected {
              background-color: #5C2771;
              color: white;
            }
          }
        }
      }
    
      .hora {
        margin-left: 20px;
        margin-top: 200px;
    
        .MuiTimePicker-root {
          .MuiInputBase-root {
            background-color: white;
          }
        }
      }
      
    
      .hora {
        margin-left: 20px;
    
        .MuiTimePicker-root {
          .MuiInputBase-root {
            background-color: white;
          }
        }
      }
  
    .crear{
        width: 16%;
        background-color: #d9d9d9;
        padding: 8px;
        border: 1px solid #d9d9d9;
        border-radius: 10px;
        color: #5C2771;
        margin: 40px ;
        margin-left: 63%;
        font-family: 'Onest Variable', sans-serif;
        a {
            text-decoration: none;
            
        }
    }


    footer{
      background-color: white;
      height: -100vh;
    }
    .footer-img{
      
        width: 100%;
        
    }
  }