@import url('https://fonts.googleapis.com/css2?family=Onest+Variable:wght@400;700&display=swap');

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    width: 40%;  /* Modifica el ancho del modal aquí */
    max-width: 800px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.6); /* Ajusta el sombreado aquí */
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  
    h2 {
      color: #5C2771;
      margin: 0;
      font-size: 30px;
      font-family: 'Onest Variable', sans-serif;
    }
  }
  
  .close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #718096;
    transition: color 0.3s ease;
  
    &:hover {
      color: #2d3748;
    }
  
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #f7fafc;
      
    }
  }
  
  form {
    .MuiGrid-container {
      margin-bottom: 20px;
      margin-left: 2%;
      font-size: large;
    }
  
    .MuiTextField-root,
    .MuiFormControl-root {
      width: 80%;
      padding: 5px;
     
      // Aplicar la fuente Onest Variable a los inputs
      .MuiInputBase-root {
        font-family: 'Onest Variable', sans-serif;
        color: black;
        font-size: smaller;
      }
  
      // Aplicar la fuente a las etiquetas
      .MuiInputLabel-root {
        font-family: 'Onest Variable', sans-serif;
      }
  
      // Aplicar la fuente al texto dentro del Select
      .MuiSelect-select {
        font-family: 'Onest Variable', sans-serif;
      }
  
      // Aplicar la fuente a los items del menú del Select
      .MuiMenuItem-root {
        font-family: 'Onest Variable', sans-serif;
      }
    }
  
    .MuiButton-root {
      margin-top: 20px;
      background-color: #6a1b9a;
      height: 30px;
      
      &:hover {
        background-color: #8e24aa;
      }
    }
  
    .editar {
      width: 18%;
      margin: 5px 40%;
      height: 40px;
      border-radius: 15px;
      font-family: 'Onest Variable', sans-serif;
      background-color: #5C2771;
    }
  }