.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 400px;
  width: 90%;
  height: auto;
  min-height: 400px; // Reducido de 450px a 400px
  max-height: 80vh; // Añadido para evitar que el modal sea demasiado alto en pantallas pequeñas
  
  
  // Ajustes para centrar el modal en dispositivos móviles
  @media (max-width: 767px) {
    margin: auto; // Centra el modal verticalmente
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 65%;
    
  }
  
  @media (min-width: 768px) {
    width: 50%;
    height: auto; // Cambiado de 450px fijo a auto
    min-height: 400px; // Asegura una altura mínima en pantallas más grandes
    
  }
}

.loginformpage {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    
    @media (max-width: 767px) {
      align-items: center;
      padding: 0;
      min-height: 80vh;
    }
    
    @media (min-width: 768px) {
      margin-top: 0;
    }
  }
  
  .form-container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin-top: -25%;
  }
  
  .UnitutorLogo {
    width: 60px;
    margin: 0 auto 20px;
    display: block;
    
    @media (min-width: 768px) {
      width: 15%;
      margin-top: -50px;
      margin-left: 42%;
      margin-bottom: 10px;
    }
  }
  
  .form-header {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Onest Variable', sans-serif;
  }
  
  .title {
    font-size: 20px;
    font-weight: bold;
    color: #2d3748;
    
    @media (min-width: 768px) {
      font-size: 24px;
    }
  }
  
  .error-message {
    color: #f56565;
    font-size: 14px;
    margin-top: 8px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #cbd5e0;
    border-radius: 10px;
    font-size: 16px;
    
    @media (min-width: 768px) {
      width: 80%;
      margin-left: 10%;
    }
  
    &:focus {
      outline: none;
      border-color: #3182ce;
      box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
    }
    
    &::placeholder {
      font-family: 'Onest Variable', sans-serif;
    }
  }
  
  .input-with-icon {
    position: relative;
    width: 107%;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    margin-left: -10px;
    
    @media (max-width: 767px) {

      width: 107%;
      margin-left: -10px;
    }
  }
  
  .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2em;
    
    @media (min-width: 768px) {
      right: 60px;
    }
  }
  
  .forgot-password {
    text-align: left;
    margin-bottom: 20px;
    padding: 0 10px;
    
    @media (min-width: 768px) {
      margin-left: 10%;
    }
    
    a {
      font-size: 13px;
      color: #0E0F02;
      text-decoration: none;
      font-family: 'Onest Variable', sans-serif;
      margin-top: 10px;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #718096;
    transition: color 0.3s ease;
    
    &:hover {
      color: #2d3748;
    }
    
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #f7fafc;
    }
  }
  
  .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Onest Variable', sans-serif;
    
    @media (min-width: 768px) {
      width: 80%;
      margin-left: 10%;
    }
    
    &:hover {
      background-color: #2d3748;
    }
  }
}