.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 400px;
  width: 50%;
  height: 450px;
}

.loginformpage {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: -90px;
  
  }
  
  .form-container {
    background-color: white;
    border-radius: 8px;
    
    padding: 20px;
    width: 100%;
    max-width: 400px;
  }
  

  .UnitutorLogo{
    width: 15%;
    margin-top: -50px;
    margin-left: 42%;
    margin-bottom: 10px;

  }

 
  .form-header {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Onest Variable', sans-serif;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #2d3748;
    
  }
  
  .error-message {
    color: #f56565;
    font-size: 14px;
    margin-top: 8px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  
  .input-field {
    width: 80%;
    padding: 10px;
    border: 1px solid #cbd5e0;
    border-radius: 10px;
    font-size: 16px;
    margin-left: 10%;
  
    &:focus {
      outline: none;
      border-color: #3182ce;
      box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
    }
    
    &::placeholder {
      font-family: 'Onest Variable', sans-serif;
    }
  }
  
  .input-with-icon {
    position: relative;
    width: 105%;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    margin-left: -2%;
  }
  
  .icon {
    position: absolute;
    top: 50%;
    right: 70px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2em;
  }
  
  
  
  .forgot-password {
    text-align: left;
    margin-left: 10%;
    margin-bottom: 20px;
    
    a {
      font-size: 13px;
      color: #0E0F02;
      text-decoration: none;
      font-family: 'Onest Variable', sans-serif;
      margin-top: 10px;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #718096;
    transition: color 0.3s ease;
    
    
    
    &:hover {
      color: #2d3748;
    }
    
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #f7fafc;
    }
  }
  
  .submit-btn {
    width: 80%;
    padding: 10px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10%;
    font-family: 'Onest Variable', sans-serif;
    &:hover {
      background-color: #2d3748;
    }
  }

}

