/* Estilos para el homeuser */
.Homeuserpage {
  /* General styles */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding-top: 60px;

  /* Header styles */
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 60px;

    /* Logo styles */
    .logo {
      display: flex;
      align-items: center;

      .unitutor-logo {
        width: 50px;
        height: auto;
        filter: brightness(0) saturate(100%) invert(21%) sepia(65%) saturate(1880%) hue-rotate(257deg) brightness(92%) contrast(101%);
      }

      h1 {
        color: #5C2771;
        font-size: 1.5rem;
        margin-top: 40px;
      }
    }

    /* Search bar styles */
    .search-bar {
      position: relative;
      display: flex;
      align-items: center;

      .search-container {
        position: relative;
        display: flex;
        align-items: center;

        .search-icon {
          position: absolute;
          left: 10px;
          font-size: 20px;
          color: #5C2771;
        }

        input {
          width: 500px;
          padding: 0.5rem;
          padding-left: 40px;
          border: 1px solid #5C2771;
          border-radius: 10px;
          color: #5C2771;
          height: 25px;

          &::placeholder {
            color: #5C2771;
            font-family: 'Onest Variable', sans-serif;
          }

          &:focus {
            outline: none;
            border-color: #5C2771;
            color: #5C2771;
          }
        }
      }
    }

    /* User profile styles */
    .user-profile {
      display: flex;
      align-items: center;

      span {
        margin-left: 10px;
      }


      .fauser-icon {
        font-size: 40px;
        color: #5C2771;
        margin-left: 30px;
      }
    }

    /* Mobile menu icon */
    .mobile-menu-icon {
      display: none;
      font-size: 24px;
      cursor: pointer;
    }
  }

  /* Sidebar styles */
  .sidebar {
    width: 250px;
    background-color: #f5f5f5;
    height: calc(100vh - 60px);
    position: fixed;
    margin-top: -2%;
    top: 100px;
    left: 0;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    z-index: 1001;

    ul {
      list-style: none;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        margin: 40px 0;

        a {
          text-decoration: none;
          color: black;
          font-size: 16px;
          display: flex;
          align-items: center;
          padding-left: 40px;

          .icon {
            font-size: 24px;
            margin-right: 15px;
          }
        }
      }
    }
  }

  /* Main content styles */
  .main-content {
    margin-left: 250px;
    padding: 2rem;
    margin-top: 30px;

    .welcome-header {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      .fauser-icon {
        font-size: 60px;
        color: #5C2771;
        margin-right: 15px;
        margin-left: 20px;
      }

      h2 {
        margin: 0;
      }
    }
  }

  /* Welcome banner styles */
  .welcome-banner {
    background-color: #5C2771;
    color: white;
    padding: 3rem 6rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    position: relative;
    width: 75%;
    height: 250px;
    overflow: hidden;

    .banner-text {
      background-color: white;
      color: black;
      padding: 1.5rem;
      flex: 1;
      max-width: 40%;
      position: relative;
      z-index: 1;
    }

    .banner-image {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 35.4%;
      overflow: hidden;

      .photorudas {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
        object-position: center;
      }
    }
  }

  /* Categories section */
  .categories-section {
    margin-top: 2rem;

    .categories-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5rem;
      margin-top: 1rem;
    }

    .category-card {
      background-color: white;
      padding: 1.5rem;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      h4 {
        margin-bottom: 1rem;
      }

      ul {
        list-style: none;
        padding: 0;
      }

      li {
        margin-bottom: 0.5rem;
      }
    }
  }

  /* Available tutors section */
  .available-tutors-section {
    margin-top: 2rem;

    .tutors-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem 8rem;
      justify-content: center;
      margin-top: 3rem;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }

    .tutor-card {
      background-color: black;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      position: relative;
      overflow: hidden;
      width: 250px;
      height: 450px;

      .photouser {
        height: 250px;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }

      h4 {
        margin-bottom: 1rem;
        color: white;
        margin-left: 25px;
      }

      p {
        margin-bottom: 0.5rem;
        color: white;
        margin-left: 25px;
      }

      .tutor-divider {
        border: none;
        height: 1px;
        background-color: #ffffff;
        margin: 0.5rem 25px 1rem;
      }

      .reserve-overlay {
        position: absolute;
        top: 242px;
        left: 0;
        width: 100%;
        height: calc(100% - 242px);
        background-color: #D9D9D9;
        display: flex;
        flex-direction: column;
        opacity: 0;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 1;
        }

        .reserve-content {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 20px 25px;
        }

        .reserve-text {
          color: black;
          font-size: 1.5rem;
          margin-bottom: 1rem;
          font-weight: bold;
        }

        .reserve-text2 {
          color: black;
          font-size: 1.5rem;
        }

        .button-container {
          display: flex;
          justify-content: center;
          padding-bottom: 20px;
        }

        .reserve-button {
          padding: 0.8rem 3rem;
          background-color: black;
          color: white;
          border: 1px solid #5c2771;
          border-radius: 10px;
          cursor: pointer;
          font-weight: bold;
        }
      }
    }
  }

  /* Responsive adjustments */
  @media (max-width: 1200px) {
    .categories-section {
      .categories-grid {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .available-tutors-section {
      .tutors-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .main-nav {
      .search-bar {
        .search-container {
          input {
            width: 300px;
          }
        }
      }
    }
  }

  @media (max-width: 900px) {
    .main-content {
      margin-left: 0;
      
      
    }

    .sidebar {
      transform: translateX(250%);
      
      &.open {
        transform: translateX(170%);
        margin-top: -6%;
      }
    }

    .main-nav {
      .mobile-menu-icon {
        display: block;
        margin-left: -35%;
      }

      .search-bar {
        display: none;
      }
    }

    .categories-section {
      .categories-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .available-tutors-section {
      .tutors-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
      }
    }

    
    .welcome-banner {
      width: 90%;
      padding: 2rem;
      height: auto;

      .banner-text {
        max-width: 100%;
      }

      .banner-image {
        display: none;
      }
    }
  }

  @media (max-width: 600px) {
    .available-tutors-section {
      h3 {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
      }
      .tutors-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  
      .tutor-card {
        width: 80%;
        margin: 0 auto 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 15px;
        box-sizing: border-box;

        
  
        img.photouser {
          margin: 0 auto;
        }
  
        h4, p {
          width: 100%;
          text-align: center;
          margin: 5px 0;
        }

        
        .tutor-divider {
          width: 100%;
          margin: 10px 0;
          border: none;
          border-top: 1px solid #ccc;
        }
  
        .reserve-overlay {
          width: 100%;
  
          .reserve-content, .button-container {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
  
        overflow: visible;
        height: auto;
      }
    }
  
    .categories-section {
      .categories-grid {
        grid-template-columns: 1fr;
        text-align: center;
      }
    }
  
    .categoris-text {
      text-align: center;
    }
  
    .main-nav {
      .logo {
        h1 {
          margin-top: 40px;
        }
      }
  
      .user-profile {
        display: none;
      }
    }
  
    .sidebar {
      transform: translateX(150%);
      
      &.open {
        transform: translateX(57%);
        margin-top: -10%;
      }
    }
  
    .welcome-header {
      flex-direction: column;
      
      h2 {
        text-align: center;
      }
  
      .fauser-icon {
        margin-bottom: 10px;
      }
    }
  
    .welcome-banner {
      width: 90%;
      padding: 1.5rem;
  
      .banner-text {
        h2 {
          font-size: 1.2rem;
        }
  
        p {
          font-size: 0.9rem;
        }
      }
    }
  }
  
  .sidebar-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  @media (max-width: 900px) {
    .sidebar-overlay {
      display: block;
    }
  }
}