/* Estilos para el homeuser */
.Homeuserpage {
  /* General styles */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding-top: 60px;

  /* Header styles */
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 60px;

    /* Logo styles */
    .logo {
      display: flex;
      align-items: center;

      .unitutor-logo {
        width: 50px; // Ajusta el tamaño según necesites
        height: auto;
        filter: brightness(0) saturate(100%) invert(21%) sepia(65%) saturate(1880%) hue-rotate(257deg) brightness(92%) contrast(101%);
      }

      h1 {
        color: #6b2c91;
        font-size: 1.5rem;
      }
    }

    /* Search bar styles */
    .search-bar {
      position: relative;
      display: flex;
      align-items: center;

      .search-container {
        position: relative;
        display: flex;
        align-items: center;

        .search-icon {
          position: absolute;
          left: 10px; // Posiciona el ícono
          font-size: 20px;
          color: #6b2c91; // Color del ícono
        }

        input {
          width: 500px;
          padding: 0.5rem;
          padding-left: 40px; /* Espacio para el ícono */
          border: 1px solid #6b2c91;
          border-radius: 4px;
          color: #6b2c91; /* Color del texto */

          &::placeholder {
            color: #6b2c91;
          }

          &:focus {
            outline: none; /* Elimina el contorno predeterminado */
            border-color: #6b2c91; /* Color del borde cuando está enfocado */
            color: #6b2c91; /* Color del texto cuando está enfocado */
          }
        }
      }
    }

    /* User profile styles */
    .user-profile {
      display: flex;
      align-items: center;

      span {
        margin-left: 10px;
      }
    }
  }

  /* Sidebar styles */
  .sidebar {
    width: 250px;
    background-color: white;
    height: calc(100vh - 60px);
    position: fixed;
    padding: 2rem 0;
    top: 60px;
    overflow-y: auto;

    ul {
      list-style: none;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        margin: 40px 0;

        a {
          text-decoration: none;
          color: #333;
          font-size: 16px;
          display: flex;
          align-items: center;
          padding-left: 40px;

          .icon {
            font-size: 24px;
            margin-right: 15px;
          }
        }
      }
    }
  }

  /* Main content styles */
  .main-content {
    margin-left: 250px;
    padding: 2rem;
    margin-top: 30px;

    .welcome-header {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      .fauser-icon {
        font-size: 60px; // Haciendo el icono más grande
        color: #6b2c91; // Cambiando el color a morado
        margin-right: 15px; // Espacio entre el icono y el texto
        margin-left: 50px;
      }

      h2 {
        margin: 0;
      }
    }
  }

  /* Welcome banner styles */
  .welcome-banner {
    background-color: #6b2c91;
    color: white;
    padding: 3rem 6rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    position: relative;
    width: 75%;
    height: 250px;

    .banner-text {
      background-color: white;
      color: black;
      padding: 1.5rem;
      flex: 1;
      max-width: 40%;
      position: relative;
      z-index: 1;
    }

    .photorudas {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 35.4%;
      background-size: cover;
      background-position: center;
      z-index: 2;
    }
  }

  /* Categories section */
  .categories-section {
    margin-top: 2rem;

    .categories-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5rem;
      margin-top: 1rem;
    }

    .category-card {
      background-color: white;
      padding: 1.5rem;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      h4 {
        margin-bottom: 1rem;
      }

      ul {
        list-style: none;
      }

      li {
        margin-bottom: 0.5rem;
      }
    }
  }

  /* Available tutors section */
  .available-tutors-section {
    margin-top: 2rem;

    .tutors-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem 8rem;
      justify-content: center;
      margin-top: 3rem;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }

    .tutor-card {
      background-color: black;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      position: relative;
      overflow: hidden;
      width: 250px;
      height: 450px;

      .photouser {
        height: 250px;
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 2;
      }

      h4 {
        margin-bottom: 1rem;
        color: white;
        margin-left: 25px;
      }

      p {
        margin-bottom: 0.5rem;
        color: white;
        margin-left: 25px;
      }

      .tutor-divider {
        border: none;
        height: 1px;
        background-color: #ffffff;
        margin: 0.5rem 25px 1rem;
      }

      .reserve-overlay {
        position: absolute;
        top: 242px;
        left: 0;
        width: 100%;
        height: calc(100% - 242px);
        background-color: #D9D9D9;
        display: flex;
        flex-direction: column;
        opacity: 0;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 1;
        }

        .reserve-content {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 20px 25px;
        }

        .reserve-text {
          color: black;
          font-size: 1.5rem;
          margin-bottom: 1rem;
          font-weight: bold;
        }

        .reserve-text2 {
          color: black;
          font-size: 1.5rem;
        }

        .button-container {
          display: flex;
          justify-content: center;
          padding-bottom: 20px;
        }

        .reserve-button {
          padding: 0.8rem 3rem;
          background-color: black;
          color: white;
          border: 1px solid #5c2771;
          border-radius: 10px;
          cursor: pointer;
          font-weight: bold;
        }
      }
    }
  }

  /* Responsive adjustments */
  @media (max-width: 1200px) {
    .categories-section {
      .categories-grid {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .available-tutors-section {
      .tutors-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  @media (max-width: 900px) {
    .main-content {
      margin-left: 0;
    }

    .sidebar {
      display: none;
    }

    .categories-section {
      .categories-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .available-tutors-section {
      .tutors-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  @media (max-width: 600px) {
    .categories-section,
    .available-tutors-section {
      .categories-grid,
      .tutors-grid {
        grid-template-columns: 1fr;
      }
    }

    .welcome-banner {
      padding: 2rem;
      height: auto;

      .banner-text {
        max-width: 100%;
      }

      .bannerrudas-img {
        display: none;
      }
    }

    .main-nav {
      .search-bar {
        .search-container {
          input {
            width: 200px;
          }
        }
      }
    }
  }
}
